div.css-zt5igj.e16nr0p32 {
    color: #E9D5DA;
    font-family: 'Arial Black', Gadget, sans-serif;
}

div.st-av.st-aw.st-ax.st-ay.st-bb.st-bd.st-b7.st-b4.st-b5.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-b2.st-bo.st-bp.st-bq.st-br.st-bs.st-bt.st-bu {
    background-color: #00A1AB;
    border: 2px solid #c1d8f0;
    border-radius: 7px;
}

div.st-bb.st-bc.st-bv.st-bw.st-bx.st-b4.st-by.st-bz.st-bd.st-c0.st-c1.st-c2.st-c3 {
    color: #E9D5DA;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 150%;
}

label.css-16huue1.effi0qh3 {
    color: #FF5F00;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 100%;
}

div.row-widget.stButton {
    border-radius: 7px;
    color: #c1d8f0;
    font-family: 'Arial Black', Gadget, sans-serif;
}